h1{
    font-family: Courier New;
    text-shadow: 0 0 5px rgb(81, 17, 230), 0 0 10px lightblue;
    text-align:center;
    border-style: solid;
    border-color:black;
    background-color:lightgray;
  }
  nav{
    font-family: Courier New;
  }
  
  p {
              font-family: 'Advent Pro';
              font-size: 22px;
              line-height: 1.5;
              color: white;
              text-align: justify;
          }
  
  table{
    text-align: left;
    background-color: white;
  }

  h3 {
    font-family: 'Akaya Kanadaka';
    font-size: 45px;
    color:white
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }


  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 150px;
    text-decoration: none;
  }


  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  table,
  th,
  td {
    padding: 15px;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
    font-size: 50px;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
